@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Raleway", sans-serif;
}

.header-menu {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10%;
    align-items: center;
    padding: 20px 0;
}

.header-menu ul {
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.header-menu a {
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.header-menu a:hover {
    color: #127878;
    text-decoration: none;
}

#nosotros {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 15px;
    margin: 20px;
}

#nosotros div {
    margin-top: 10px;
}

#nosotros div p {
    width: 100%;
    font-size: 20px;
}

h1,
h2,
h3
{
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 30px;
}

h4, h5, h6
{
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#contacto {
    width: auto;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 0px;
}

h2 {
    width: 400px;
}

.formulario {
    width: 400px;
}

.form-container div {
    width: 400px;
    padding: 5px;

}

input,
textarea {
    width: 300px;
    padding: 5px;
}

.maps {
    width: 40%;
    margin-top: 50px;
}

iframe {
    width: 100%;
    height: 250px;
}

button {
    background-color: #62a7a7;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6ea3a3;
    color: white;
    font-size: 17px;
    padding: 0 15px;
}

footer{
    background-color: #62a7a7;
    color:white;
    width: 100%;
    height: 40px;
    display: flex;  
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
    margin-top: 20px;
}

#servicios{
    display: flex;
    justify-content: center;
    padding: 10px;
}

#listado-servicios{
    display: flex;
    justify-content: space-evenly;
}

.icon-footer{
    filter: invert(98%) sepia(2%) saturate(8%) hue-rotate(347deg) brightness(101%) contrast(102%);
}

.icon-servicios{
    filter: invert(60%) sepia(16%) saturate(728%) hue-rotate(131deg) brightness(96%) contrast(104%);
}

.servicios-listado{
    width: 250px;
    background-color: #f0f0f0;
    padding: 25px;
    border-radius: 5px;
}
.beneficios-flex div img{
    width: 500px;
    border: 0px solid #cbebeb;
    border-radius: 10px;
}

.beneficios-flex{
    display: flex;
    justify-content: space-evenly;
}

#beneficios{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.text-beneficios{
    font-size: 45px;
    font-style: bold;
    color: #127878;
    display: flex;
    align-items: center;
}

.container-beneficios{
    display: flex;
    justify-content: center;
    width: 500px;
}